main > .container {
  padding: 60px 15px 0;
}

p {
  margin: 1em;
}

.bg-orange {
  background-color: #ffa500;
}

.bg-orange-softchoice {
  background-color: #f3590f;
}

.footer {
  background-color: #fdfdd3;
}

.footer > .container > ul > li {
  margin-left: auto;
  margin-right: auto;
}
